package component

templ Checkmark() {
	<img
		width="500"
		height="600"
		checkmark
		src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Eo_circle_light-blue_checkmark.svg/240px-Eo_circle_light-blue_checkmark.svg.png"
	/>
}
